div {
    background-image:(rgb(221, 249, 255),rgb(199, 214, 224));}
      h1 {
        text-align: center;
      }
        h2 {
            color: rgb(33, 132, 213);
            text-align: center;
            padding: 1.2%;
          }
          h3 { 
        
            color: black;
            text-align: left;
            padding: 1.1%;
          }
         
          #p1 {
            color: rgb(0, 0, 0);
            text-align: center;
            padding: 1.5%;
          font-size: larger;
          }
          #p2 {
            background-color:rgba(133, 133, 133, 0.719);
             color:black; 
             padding: 1.2%;
    
             
          }
ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
        }
        
        li a {
            display: block;
            color: #000;
            padding: 8px 2px 16px;
            text-decoration: none;
        }
        
        li a.active {
            background-color: #adc2ee;
            color: white;
        }
        
        li a:hover:not(.active) {
            background-color: #555;
            color: white;
}         
.landing {
    background-color: #838383;
    
    background-size: cover;
    background-repeat: no-repeat;
padding: 25px 20px;
}


  .picture {
    border: solid 5px rgb(103, 120, 130);
  
  }
  p.round3 {
    border: 2px solid rgba(13, 2, 2, 0.873);
    border-radius: 12px;
    padding: 5px;
  }
 
  body {
    font-family: Sarabun;
    background-image:linear-gradient(rgb(255, 255, 255),rgb(31, 93, 134));}



a {
    text-decoration: none;
    color: black;
}

p,
ul {
    margin: 0;
}

#p4 {
   font-weight: lighter; }

#p5 {
    display: block;
      border: 3px solid rgb(167, 167, 167); 
      padding: 20px; 
      border-radius: 10px;
      background-color: rgb(145, 184, 202);
       padding: 10px; margin: 5px 0; 
       border: 1px solid rgb(167, 167, 167); 
       border-radius: 10px; }

#p6 {
    
   gap: 5px;  
    flex: 50%;
    border: 1px solid rgb(232, 209, 209); 
    background-color: rgb(66, 146, 172);
    border-radius: 10px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
          
}
#p7 {
  padding: 10px;
  text-align: left;
}
#p8 {
  display: block;
    
    padding: px; 
    border-radius: 10px;
    background-color: rgb(84, 14, 14); }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
 
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #c3cad7;
  color: #2a0000;
  padding: 20px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #a3d5e1;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #3b7284;
}

.aside {
  background-color: #9cc4d3;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color:  #a3d5e1;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

